body {
    width: 100%;
}

.vtex-minicart__item {
    width: 350px;
    height: 110px;
}

.vtex-minicart__img-container {
    width: 100px;
    height: 100px;
    min-width: 100px;
}

.vtex-minicart__item-image {
    width: auto;
    height: 100%;
}

.vtex-minicart__item-name {
    max-width: 234px;
    max-height: 20px;
}

.vtex-minicart__sku-name {
    width: 138px;
    height: 10px;
    bottom: 18px;
}

.vtex-minicart__box {
    top: 100%;
    display: block;
    visibility: visible;
}

@media only screen and (max-width: 600px) {
    .vtex-minicart__box {
        display: none;
        visibility: hidden;
    }
}

.vtex-minicart__content {
    height: 84vh;
}

.vtex-minicart__content-small {
    max-height: 368px;
}

.vtex-minicart-item__remove-btn > .vtex-button {
    padding: 0px;
    margin-top: 0.6rem;
}

.vtex-minicart__bagde {
    font-size: .71429rem;
    background-color: #1790de;
    border-radius: 50%;
    color: #fff;
    height: 18px;
    line-height: 18px;
    right: -5px;
    text-align: center;
    top: -4px;
    width: 18px;
    position: absolute;
}

.vtex-minicart__arrow-up {
    transform: rotate(45deg);
    width: 25px;
    height: 25px;
    right: 7px;
    background-color: white;
}

.vtex-minicart__sidebar {
    width: 370px;
    height: 100vh;
}

.vtex-minicart__sidebar-header {
    background: #3d3d3d;
    width: 100%;
    height: 50px;
}