body {
    width: 100%;
}

.vtex-minicart__item {
    height: 110px;
}

.vtex-minicart__img-container {
    width: 70px;
    height: 70px;
    min-width: 70px;
}

.vtex-minicart__item-image {
    width: auto;
    height: 100%;
}

.vtex-minicart__box {
    top: 100%;
    display: block;
    visibility: visible;
}

@media only screen and (max-width: 600px) {
    .vtex-minicart__box {
        display: none;
        visibility: hidden;
    }
}

.vtex-minicart__content-large {
    height: 83vh;
}

.vtex-minicart__content-small {
    max-height: 368px;
}

.vtex-minicart-item__remove-btn > .vtex-button {
    padding: 0px;
    margin-top: 0.6rem;
}

.vtex-minicart__bagde {
    font-size: .71429rem;
    background-color: #1790de;
    border-radius: 50%;
    color: #fff;
    height: 18px;
    line-height: 18px;
    right: -5px;
    text-align: center;
    top: -4px;
    width: 18px;
    position: absolute;
}

.vtex-minicart__arrow-up {
    transform: rotate(45deg);
    width: 25px;
    height: 25px;
    right: 7px;
    background-color: white;
}
@media only screen and (min-width: 22em) {
    .vtex-minicart__sidebar {
        width: 300px;
        height: 100vh;
    }
}

@media only screen and (min-width: 22em) and (max-width: 25em) {
    .vtex-minicart__sidebar {
        width: 100vw;
        height: 100vh;
    }
}

.vtex-minicart__sidebar-header {
    background: #3d3d3d;
    width: 100%;
    height: 60px;
}

.vtex-minicart__price-container {
    width: 110px;
}