.vtex-minicart__box {
  width: 364px;
  top: 100%;
}

@media only screen and (min-width: 40em) {
  .vtex-minicart__sidebar {
    width: 340px;
  }
}

.vtex-minicart__content--small {
  max-height: 383px;
}

.vtex-minicart__bagde {
  top: -0.7rem;
  right: -0.8rem;
}

.vtex-minicart__arrow-up {
  right: 7px;
}

.vtex-minicart__item-image-loader {
  width: 100%;
  height: 100%;
}

.vtex-minicart__item-name > .vtex-product-name > .vtex-product-name__brand {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

.vtex-minicart__item-name--large > .vtex-product-name > .vtex-product-name__brand {
  max-width: 100%;
}

.vtex-minicart__item-sku > .vtex-product-name > .vtex-product-name__brand {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

.vtex-minicart-item__remove-btn > .vtex-button {
  padding: 0px;
  margin-top: 0.6rem;
}

.vtex-minicart-content__footer {
  margin-top: auto;
}

.vtex-minicart__content-discount .vtex-price-selling {
  color: #134cd8;
  font-size: 1rem;
  font-weight: 400;
}

.vtex-minicart__content-price .vtex-price-selling {
  font-size: 1rem;
}

@media only screen and (max-width: 40rem) {
  body.vtex-minicart-sidebar-open {
    overflow: hidden;
  }
}

