body {
    width: 100%;
}

.vtex-minicart__item {
    width: 350px;
    height: 110px;
}

.vtex-minicart__item-image {
    width: 100px;
    height: 100px;
}

.vtex-minicart__item-name {
    width: 264px;
    height: 50px;
}

.vtex-minicart__sku-name {
    width: 138px;
    height: 10px;
    bottom: 18px;
}

.vtex-minicart__box {
    top: 100%;
    display: block;
    visibility: visible;
}

@media only screen and (max-width: 600px) {
    .vtex-minicart__box {
        display: none;
        visibility: hidden;
    }
}

.vtex-minicart__content {
    max-height: 368px;
}

.vtex-minicart-item__remove-btn > .vtex-button {
    padding: 0px;
    margin-top: 0.6rem;
}

.vtex-minicart__bagde {
    font-size: .71429rem;
    background-color: #1790de;
    border-radius: 50%;
    color: #fff;
    height: 18px;
    line-height: 18px;
    right: -10px;
    text-align: center;
    top: -8px;
    width: 18px;
    position: absolute;
}

.vtex-minicart__arrow-up {
    transform: rotate(45deg);
    width: 25px;
    height: 25px;
    right: 7px;
    background-color: white;
}