.top-100 {
    top: 100%
}

.top-50 {
    top: 50%
}

.minicart-item {
    width: 350px;
    height: 90px;
}

.image-size {
    width: 70px;
    height: 70px;
}

.name-size {
    width: 264px;
    height: 50px;
}

.sku-size {
    width: 138px;
    height: 10px;
}

.minicart {
    display: block;
    visibility: visible;
}

@media only screen and (max-width: 600px) {
    .minicart {
        display: none;
        visibility: hidden;
    }
}

.minicart-content {
    height: 250px;
}