.top-100 {
    top: 100%
}

.top-50 {
    top: 50%
}

.minicart-item {
    width: 380px;
    height: 103px;
}

.image-size {
    width: 84px;
    height: 84px;
}

.name-size {
    width: 264px;
    height: 60px;
}

.sku-size {
    width: 138px;
    height: 14px;
}

.minicart {
    display: block;
    visibility: visible;
}

@media only screen and (max-width: 600px) {
    .minicart {
        display: none;
        visibility: hidden;
    }
}